<div class="flex">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead class="table-head">
          <tr>
            <th class="t-h" scope="col">#</th>
            <th class="t-h" scope="col">Marca</th>
            <th class="t-h" scope="col">Línea</th>
            <th class="t-h" scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars">
            <th scope="row">{{ car.id }}</th>
            <td>{{ car.marca }}</td>
            <td>{{ car.linea }}</td>
            <td>{{ car.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fluid" *ngFor="let message of getAmountOfCarsPerBrand()">
  <p class="mb-0">{{ message }}</p>
</div>
